[submodule "extern/histogram"]
	path = extern/histogram
	url = ../../boostorg/histogram.git
[submodule "extern/core"]
	path = extern/core
	url = ../../boostorg/core.git
[submodule "extern/mp11"]
	path = extern/mp11
	url = ../../boostorg/mp11.git
[submodule "extern/config"]
	path = extern/config
	url = ../../boostorg/config.git
[submodule "extern/throw_exception"]
	path = extern/throw_exception
	url = ../../boostorg/throw_exception.git
[submodule "extern/assert"]
	path = extern/assert
	url = ../../boostorg/assert.git
[submodule "extern/variant2"]
	path = extern/variant2
	url = ../../boostorg/variant2.git
