# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
/*build*
/docs/_build/*
/pip-wheel-metadata/*

# Outputs
/examples/*.png
*.pkl

# Python binary files
*.pyc
*__pycache__*
*.egg-info
.ipynb_checkpoints
/wheelhouse/*
/dist/*
*.mypy_cache

# Other editor files
*.swp
*~
*.clangd
compile_commands.json

# Venvs such as /.env
/*env*

# Generated version
/src/boost_histogram/version.py

# Allow all contributors to be installed
/node_modules/*
/yarn.lock
/package.json

# Testing
/.benchmarks/*

# PyCharm
.idea
