graft include
graft scripts
graft src
graft tests
graft docs

graft extern/assert/include
graft extern/config/include
graft extern/core/include
graft extern/histogram/include
graft extern/mp11/include
graft extern/throw_exception/include
graft extern/variant2/include

graft extern/pybind11/include
graft extern/pybind11/tools
include extern/pybind11/CMakeLists.txt

prune docs/_build

global-exclude .git*
global-exclude .pytest_cache
global-exclude .DS_Store
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__

include CMakeLists.txt LICENSE README.md setup.py setup_helpers.py dev-requirements.txt setup.cfg pyproject.toml CONTRIBUTING.md
recursive-include extern *LICENSE*
