name: WASM

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - develop
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-wasm-emscripten:
    name: Pyodide wheel
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pyodide-build
        run: |
          pip install pyodide-build==0.25.1
          echo EMSCRIPTEN_VERSION=$(pyodide config get emscripten_version) >> $GITHUB_ENV

      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: ${{ env.EMSCRIPTEN_VERSION }}
          actions-cache-folder: emsdk-cache

      - name: Build
        run: CFLAGS=-fexceptions LDFLAGS=-fexceptions pyodide build --exports whole_archive

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up Pyodide virtual environment
        run: |
          pyodide venv .venv-pyodide
          .venv-pyodide/bin/pip install $(echo -n dist/*.whl)[test]

      - name: Test
        run: .venv-pyodide/bin/pytest

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: emscripten-wheel
          path: dist/*.whl

  build-pyodide:
    name: Pyodide cibuildwheel
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - uses: pypa/cibuildwheel@v2.19
        env:
          CIBW_PLATFORM: pyodide

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: pyodide-wheel
          path: wheelhouse/*.whl
