name: Examples

on:
  workflow_dispatch:
  pull_request:
    paths:
    - 'examples/*.py'
    - 'notebooks/*.ipynb'
  push:
    branches:
    - master

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Pre-install NumPy
      run: python -m pip install -r dev-requirements.txt nbconvert ipykernel
    - name: Install kernel
      run: python -m ipykernel install --user --name boost-hist
    - name: Build
      run: python -m pip install .[examples]
    - name: Examples
      run: for f in examples/*.py; do python "$f"; done
    - name: Notebooks
      run: jupyter nbconvert --execute --ExecutePreprocessor.timeout=90 --inplace notebooks/*.ipynb
