name: Examples

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "examples/*.py"
      - "notebooks/*.ipynb"
      - ".github/workflows/examples.yml"
  push:
    branches:
      - master

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - uses: astral-sh/setup-uv@v7
      - name: Build and install kernel
        run: uv run --group examples -m ipykernel install --user --name boost-hist
      - name: Examples
        run: for f in examples/*.py; do uv run "$f"; done
      - name: Notebooks
        run: uv run jupyter nbconvert --execute --ExecutePreprocessor.timeout=90 --inplace notebooks/*.ipynb
