name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop

env:
  FORCE_COLOR: 3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clang-tidy:
    name: Clang-Tidy
    runs-on: ubuntu-latest
    container: silkeh/clang:18-bookworm

    steps:
      - name: Install requirements
        run: apt-get update && apt-get install -y python3-dev python3-pip git

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Install extra requirements
        run: python3 -m pip install setuptools_scm --break-system-packages

      - name: Configure
        run: cmake -S . -B build -DCMAKE_CXX_CLANG_TIDY="$(which clang-tidy);--warnings-as-errors=*"

      - name: Build
        run: cmake --build build -j 2

  pylint:
    runs-on: ubuntu-latest
    name: PyLint

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Run PyLint
        run: |
          echo "::add-matcher::$GITHUB_WORKSPACE/.github/matchers/pylint.json"
          pipx run nox -s pylint

  cmake:
    runs-on: ubuntu-latest
    env:
      PIP_ONLY_BINARY: numpy
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.9", "3.12", "pypy3.9"]
        include:
          - python-version: "3.8"
            cmake-extras: "-DCMAKE_CXX_STANDARD=17"

    name: CMake Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install python tools
        run: python -m pip install -r dev-requirements.txt pytest-github-actions-annotate-failures numpy>=2.0a1

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DBOOST_HISTOGRAM_ERRORS=ON ${{ matrix.cmake-extras }}

      - name: Build
        run: cmake --build build -j 2

      - name: Test
        working-directory: ./build
        run: python -m pytest -ra

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2019, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - uses: pypa/cibuildwheel@v2.17
        env:
          CIBW_BUILD: cp38-win32 cp312-manylinux_x86_64 cp39-macosx_*
          CIBW_BUILD_VERBOSITY: 1

      - uses: actions/upload-artifact@v4
        with:
          path: wheelhouse/*
          name: test-wheels-${{ strategy.job-index }}

      - name: Check wheels
        run: pipx run twine check wheelhouse/*
        shell: bash
