name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - master
    - develop

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.3
      with:
        extra_args: -a docker-clang-format --hook-stage manual

  clang-tidy:
    name: Clang-Tidy
    runs-on: ubuntu-latest
    container: silkeh/clang:10

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Install requirements
      run: apt-get update && apt-get install -y python3-dev python3-pip

    - name: Install extra requirements
      run: python3 -m pip install setuptools_scm toml

    - name: Configure
      run: cmake -S . -B build -DCMAKE_CXX_CLANG_TIDY="$(which clang-tidy);--warnings-as-errors=*"

    - name: Build
      run: cmake --build build -j 2


  cmake:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.9", "pypy3"]
        include:
        - python-version: "3.8"
          cmake-extras: "-DCMAKE_CXX_STANDARD=17"
        - python-version: "3.10-dev"

    name: CMake Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install python tools
      run: python -m pip install -r dev-requirements.txt pytest-github-actions-annotate-failures

    - name: Configure
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DBOOST_HISTOGRAM_ERRORS=ON ${{ matrix.cmake-extras }}

    - name: Build
      run: cmake --build build -j 2

    - name: Test
      working-directory: ./build
      run: python -m pytest -ra

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - uses: pypa/cibuildwheel@v2.0.0a4
      env:
        CIBW_BUILD: cp38-win_amd64 cp310-manylinux_i686 cp37-macosx_x86_64
        CIBW_BUILD_VERBOSITY: 1
        CIBW_PRERELEASE_PYTHONS: 1

    - uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*

    - name: Check wheels
      run: pipx run twine check wheelhouse/*
      shell: bash
