name: Weekly update

on:
  schedule:
    - cron: "0 12 * * 0"

jobs:
  basic:
    name: Head on Python 3.8
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    # Note: you need to add a git pull here if you are not on a clean checkout, but CI always is
    - name: Update to latest
      run: git submodule foreach "git checkout develop || git checkout master"

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Build and install wheel
      run: pip install -v .[test]

    - name: Test
      run: python -m pytest
